
{% extends "base.html" %}
{% load crispy_forms_tags %}
{% block content %}


<head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="../ static/style.css">
 {% if title %}
        <title>Hello Ally-Kareena {{ title }}</title>
    {% else %}
        <title>Sign Up</title>
    {% endif %}
    </head>
<body>
<section class="home-banner-area relative" id="home" data-parallax="scroll" data-image-src="../static/img/header-bg.jpg">
<body>

   <div class="overlay-bg overlay"></div>
		<h1 class="template-name">Log In</h1>
        <div class="container">
			<div class="row fullscreen">
				<div class="banner-content col-lg-11">
				<div class="content-section">
        <form method="POST">
            {% csrf_token %}
            <fieldset class="form-group">
                <legend class="border-bottom mb-4"><font color="white">Log In</font></legend>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button class="btn btn-outline-info" type="submit"><font color="white">Log in</font></button>
            </div>
        </form>
        <div class="border-top pt-3">
            <small class="text-muted">
                <font color="white">Need An Account ? </font> <a class="ml-2" href="{% url 'signup' %}"><font color="white">Sign Up Now</font></a>
            </small>
        </div>
    </div>
				</div>
			</div>
		</div>
    </body>
</section>
</body>




{% endblock content %}